html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Cera Pro';
    font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

main {
	display: flex;
	width: 100%;
	max-width: 1255px;
	margin: 68px 94px 0px 94px;
	flex-wrap: wrap;
	}

.itemsWrap {
display: flex;
align-items: center;
}

.item {
	display: flex;
	align-items: center;
	background: #FBFBFB;
	height: 302px;
}

.item h3 {
	width: 150px;
	text-align: right;
	font-size: 18px;
	font-weight: 900;
	color: #3D3D3D;
	padding-bottom: 8px;
	text-transform: uppercase;
}

.item p {
	width: 295px;
	font-size: 14px;
	font-weight: 400;
	text-align: right;
	color: #727272;
	padding-bottom: 25px;
}
.item p span {
	display: flex;
	padding-top: 12px;
	justify-content: flex-end;
}
.item .itemInfo {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-end;
	padding: 36px 30px 70px 0px;
	background: #FBFBFB;
}

.item .flowerCard {
	width: 287px;
	position: relative;
	top: -52px;
}

.item button {
	display: flex;
	width: 140px;
	height: 40px;
	border-radius: 6px;
	background: #46A358;
	border: 0px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	justify-content: center; 
	align-items: center;
} 

.item button img {
	padding-left: 2px;
}

.secondCard {
	margin-left: 28px;
}

.informationText {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 1255px;
margin-top: 138px;
}

.informationText h2{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #3D3D3D;
	padding-bottom: 15px;
}

.informationText p{
font-size: 14px;
font-weight: 400;
text-align: center;
color: #727272;
padding-bottom: 35px;
}

.postsItem {
	width: 268px;
}

.postText {
	background: #FBFBFB;
	padding: 9px 10px 12px 15px;
}

section div .dateText {
font-size: 14px;
font-weight: 500;
text-align: left;
color: #46A358;
padding-bottom: 4px;
}

.postText h3 {
	font-size: 20px;
	font-weight: 700;
	color: #3D3D3D;
	width: 190px;
	padding-bottom: 5px;
}

.postText p{
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	color: #727272;
	width: 242px;
	padding-bottom: 10px;
}

.postText a {
	display: flex;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	text-align: left;
	color: #3D3D3D;
}

.postText a:hover {
	color: #46A358;
}

.postText a img {
	width: 16px;
	padding-left: 3px;
}

.posts {
	width: 268px;
	display: flex;
	flex-direction: column;
	padding-right: 60px;
}
.blog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
	.bestHousePlants {
		padding-right: 0px;
	}	

	.postText p span {
		display: flex;
		padding-top: 10px;
	}