html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Cera Pro';
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

footer {
width: 100%;
max-width: 1200px;
margin: 0 auto;
background-color: #FBFBFB;
margin-top: 90px;
}

.news {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.item {
  display: flex;
  justify-content: flex-start;
}

.info-cards {
  border-right: 1px solid #46A3581A;
}

.item-info h3 {
  font-size: 17px;
  font-weight: 700;
  text-align: left;
  color: #3D3D3D;
  padding: 15px 0px 10px 0px;
}

.item-info p {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #727272;
  line-height: 22px;
}

article {
  padding: 24px 30px 24px 25px;
}

.newsletter{
padding: 24px 25px 24px 32px;
}

.newsletter h2{
font-size: 18px;
font-weight: 700;
text-align: left;
color: #3D3D3D;
padding: 12px 0px 25px 0px;
}

.newsletter input {
  width: 270px;
  height: 40px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 6px 0px 0px 6px;
 box-shadow: 0px 0px 20px 0px #0000000F;
font-size: 14px;
font-weight: 400;
color: #ACACAC;
}

.newsletter button {
  background: #46A358;
  color: #FFFFFF;
  border-radius: 0px 6px 6px 0px;
font-size: 18px;
font-weight: 700;
text-align: left;
height: 42px;
width: 85px;
border: none;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}

.newsletter p {
font-size: 13px;
font-weight: 400;
text-align: left;
color: #727272;
line-height: 22px;
width: 360px;
}

.email {
display: flex;
padding-bottom: 18px;
}

.info-line {
  background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
  height: 88px;
  display: flex;
}

.info-text {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.icon {
  width: 20px;
  padding-left: 155px;
}

.logo {
  width: 	150px;
  padding-left: 23px;
}

.address {
padding-left: 10px;
font-size: 14px;
font-weight: 400;
line-height: 22px;
color: #3D3D3D;
text-decoration: none;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 236px;
  border-bottom: 1px solid #46A35833;
}

.title-list {
font-size: 18px;
font-weight: 700;
text-align: left;
color: #3D3D3D;
padding-bottom: 8px;
}

.lists a{
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #3D3D3D;
  text-decoration: none;
}

.lists li {
  padding-bottom: 18px;
}

.lists a:hover {
font-size: 15px;
font-weight: 600;
color: #46A358;
}

.lists {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 33px 173px 0px 25px;
}

.account {
  padding-right: 164px;
}

.help {
  padding-right: 109px;
  width: 150px;
}

.social-media {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 33px 155px 0px 0px;
}

.social-media h2{
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: #3D3D3D;
  padding-bottom: 20px;
}

.social-media button {
  width: 30px;
  height: 30px;
  border: 1px solid #46A35833;
  border-radius: 4px;
  background: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
 display: flex;
 flex-direction: row;
}

.buttons button {
 margin-right: 10px;
}

.cards {
  width: 224px;
}

.title-text {
  padding: 33px 0px 13px 0px;
}

.buttons button:hover {
  border: 1px solid #46A358;
  cursor: pointer;
}

.footer-text {
  display: flex;
  justify-content: center;
  height: 30px;
}

.footer-text p {
font-size: 14px;
font-weight: 400;
color: #3D3D3D;
padding-top: 6px;
}

.footer-text p::before{
content: "©";
padding-right: 4px;
}